.carasInteriores {
    float: left;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px; 
}

#rojo {
    width: 95px;
    height: 95px;
    background-color: red;
}
#azul {
    width: 95px;
    height: 95px;
    background-color: blue;
}

#verde {
    width: 95px;
    height: 95px;
    background-color: green;
}
#amarillo {
    width: 95px;
    height: 95px;
    background-color: yellow;
}
#blanco {
    width: 95px;
    height: 95px;
    background-color: white;
}
#anaranjado {
    width: 95px;
    height: 95px;
    background-color: rgb(255, 140, 0);
}

.numero {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 25%;
    width: 25%;
    font: bold;
    font-size: 200%;
    opacity: 0%;
}