<body>
  <div class="col-sm-12" id="bga">
    <h1> Cubo Rubiks </h1>

    <div class="col-sm-6">

      <div class="botonesAA">

        <h3>Controles del Cubo</h3>
        <button type="button" class="btn btn-info" (click)="event_xUp()">
            <i style="font-size: 20px" class="far fa-arrow-alt-circle-up"></i>
        </button>
        <br>
      </div>

      <div class="botonesID">
        <button type="button" class="btn btn-info" (click)="event_y_Left()">
            <i style="font-size: 20px" class="far fa-arrow-alt-circle-left"></i>
        </button>

          <button type="button" class="btn btn-secondary" (click)="reFocus()">
              <i style="font-size: 20px; color:maroon" class="fas fa-arrows-alt"></i>
          </button>
        
        <button type="button" class="btn btn-info" (click)="event_y_Right()">
            <i style="font-size: 20px" class="far fa-arrow-alt-circle-right"></i>
        </button>
      </div>

      <div class="botonesAA">
        <br>
        <button type="button" class="btn btn-info" (click)="event_xDown()">
            <i style="font-size: 20px" class="far fa-arrow-alt-circle-down"></i>
        </button>
      </div>


      <h3>Controles Movimeintos</h3>
      <div class="botonesAA">
        <button type="button" class="btn btn-success" (click)="moverArriba()">
          <i style="font-size: 20px" class="fas fa-caret-up"></i>
        </button>
        <br>
      </div>

      <div class="botonesI">
        <button type="button" class="btn btn-success" (click)="moverIzquierda()">
          <i style="font-size: 23px" class="fas fa-caret-left"></i>
        </button>

        <div class="col-xs-2">
          <input type="text" class="form-control" placeholder="#" aria-label="Username" name="filas" [(ngModel)]="fila">
        </div>
        <button type="button" class="btn btn-success" (click)="moverDerecha()">
          <i style="font-size: 23px" class="fas fa-caret-right"></i>
        </button>
      </div>
      <br>
      <div class="btnOpciones">
        <button type="button" class="btn btn-danger" (click)=restablecerCubo()>
          Reset
          <i class="fas fa-sync-alt"></i>
        </button>
        <button type="button" class="btn btn-success" (click)="moverAbajo()">
          <i style="font-size: 20px" class="fas fa-caret-down"></i>
        </button>
        <button type="button" class="btn btn-danger" (click)="undoMovimiento()">
          Undo
          <i class="fas fa-undo-alt"></i>
        </button>

      </div>

      <br>
      <div *ngIf="res == true" class="botonesID">
        <div class="botonesVS">
          <label style="color: white">Ingrese un numero mayor a 0 y menor a 3</label>
          <button type="button" class="btn btn-danger" (click)="label_visible()">
            OK
          </button>
        </div>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="contenedor">

        <div class="cubo" [ngStyle]="{'transform':'rotateX(' + x + 'deg)' + ' rotateY(' + y + 'deg)'}" (mousemove)="myEvent($event)"
          (click)="activate_flag()" (dblclick)="disable_flag()">

          <div *ngFor="let cara of cubo.caras">
            <div *ngIf="cara.id == 0">
              <div>
                <app-cara [cara]="cara"></app-cara>
              </div>
            </div>
            <div *ngIf="cara.id == 1">
              <div>
                <app-cara [cara]="cara"></app-cara>
              </div>
            </div>
            <div *ngIf="cara.id == 2">
              <div>
                <app-cara [cara]="cara"></app-cara>
              </div>
            </div>
            <div *ngIf="cara.id == 3">
              <div>
                <app-cara [cara]="cara"></app-cara>
              </div>
            </div>
            <div *ngIf="cara.id == 4">
              <div>
                <app-cara [cara]="cara"></app-cara>
              </div>
            </div>
            <div *ngIf="cara.id == 5">
              <div>
                <app-cara [cara]="cara"></app-cara>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</body>