body, html {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("http://hdqwalls.com/wallpapers/rubiks-cube-minimalism-u3.jpg");
}


#bga{
    background-image: url("http://hdqwalls.com/wallpapers/rubiks-cube-minimalism-u3.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1, h3 {
    text-align: center;
    color: white;
}

.contenedor {
    width: 350px;
    height: 350px;
    margin: 10em auto;
    position: relative;
    perspective: 700px;
}

.cubo {
    width: 100%;
    height: 100%;
    position: absolute;
}

.cubo {
    transform-style: preserve-3d;
    transition: all 1s linear;
}

.botonesID{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.botonesI{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.botonesAA{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.btnOpciones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.botonesVS {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
