.cara {
    width: 100%;
    height: 100%;
    position: absolute;
}

.carasInteriores {
    float: left;
    width: 32.20%;
    height: 32.20%;
    border: 2px solid black;
    border-radius: 10px; 
}

#uno {
    transform: translateZ(175px);
    opacity: 0.7;
}

#dos {
    transform: translateX(110px) rotateY(90deg);
    opacity: 0.7;

}

#tres {
    transform: translateZ(-108px);
    opacity: 0.7;

}
#cuatro {
    transform: translateX(-175px) rotateY(90deg);
    opacity: 0.7;
}

#cinco {
    transform: translateY(-175px) translateZ(65px) rotateX(90deg);
    opacity: 0.7;
}


#seis {
    transform: translateY(110px) translateZ(68px) rotateX(90deg);
    opacity: 0.7;
}