<div class="cara" id="{{nombreCara()}}">
        <div *ngFor="let row of cara.celdas">
                <div *ngFor="let col of row">
                        <div *ngIf=" col.id == '0' ">
                                <app-celda [color]="col.color"></app-celda>
                        </div>
                        <div *ngIf=" col.id == '1' ">
                                <app-celda [color]="col.color"></app-celda>
                        </div>
                        <div *ngIf=" col.id == '2' ">
                                <app-celda [color]="col.color"></app-celda>
                        </div>
                        <div *ngIf=" col.id == '3' ">
                                <app-celda [color]="col.color"></app-celda>
                        </div>
                        <div *ngIf=" col.id == '4' ">
                                <app-celda [color]="col.color"></app-celda>
                        </div>
                        <div *ngIf=" col.id == '5' ">
                                <app-celda [color]="col.color"></app-celda>
                        </div>
                        <div *ngIf=" col.id == '6' ">
                                <app-celda [color]="col.color"></app-celda>
                        </div>
                        <div *ngIf=" col.id == '7' ">
                                <app-celda [color]="col.color"></app-celda>
                        </div>
                        <div *ngIf=" col.id == '8' ">
                                <app-celda [color]="col.color"></app-celda>
                        </div>
                </div>
        </div>
</div>